.project { 
    justify-content: start;
    align-content: stretch;

    margin-top: 3vh;
    margin-bottom: 5vh;
}

.project.left {
    flex-shrink: 0;
    
    width: 30%;
    
    margin: 0;
    margin-right: 10%;
}

.project > header {
    color: black;
    font-weight: bold;
    margin-top: 0;
}

.project .link {
    color: darkgray;
    font-size: small;
}

.project .subtitle {
    font-weight: bold;
}

.project .description > p {
    margin: 0;
}

.project .description > p > hr {
    visibility: hidden;
}
