.project { 
    justify-content: start;
    align-content: stretch;

    margin-top: 3vh;
    margin-bottom: 5vh;
}

/* Left column of project */
.project.left {
    flex-shrink: 0;

    width: 35%;
    
    margin: 0;
    margin-right: 7.5%;
}

.project > header {
    color: black;
    /* color: darkgray; */
    font-weight: bold;
    margin-top: 0;
}


/* Project thumbnail */
.project img {
    margin-top: 5%;
    
    width: 100%;
    height: auto;

    filter: none;
}


/* Project links */
.project .links .link {
    color: darkgray;
    font-size: small;
}


/* Right column of project */
.project .subtitle {
    font-weight: bold;
}

.project .description > p {
    margin: 0;
}

.project .description > p > hr {
    visibility: hidden;
}
