.project { 
    justify-content: start;
    align-content: stretch;

    margin-top: 3vh;
    margin-bottom: 5vh;
}

.project > header {
    flex-shrink: 0;
    
    color: darkgray;
    
    width: 30%;
    margin-right: 10%;
}

.project .subtitle {
    font-weight: bold;
}

.project .description > p {
    margin: 0;
}

.project .description > p > hr {
    visibility: hidden;
}

