body {
}

header {

    text-align: center;

    width: 80%;
    height: 50vh;

    margin: 15vh 10% 12vh 10%;

    border: 0.3rem solid black;
}

header > .left {
    width: 70%;
}

header > .right {
    width: 30%;
}

header h1 {
    font-size: 5em;
    line-height: 50vh;
    margin: 0;
}

header > .right > img {
    height: 90%;
    margin: 5%;
}

header > down-arrow {
    
}

#main-container {
    height: 117vh;

    /* border: solid 10px orange */
}

.left {
    float: left;
    width: 50%;
    height: inherit;
}

#main-container > .left {
    width: 57vw;
    margin-left: 2vw;
}

.right {
    float: right;
    width: 50%;
    height: inherit;
}

#main-container > .right {
    width: 28.9vw;
    margin-right: 4vw;
}

#about-me {
    height: 60vh;

    padding: 1rem;
    
    margin-bottom: 3vh;

    border: 0.3rem solid black;
}

#about-me > h1 {
    margin-bottom: 0.25em;
    margin-left: 0.25em;
}

#about-me > p {
    text-align: justify;
    margin-top: 0.5em;
}

#about-me > p > img {
    width: 30%;
    float: right;
    margin: 2%;
    margin-right: 0;
}

#main-container > .left > img {
    width: 99%;
    height: 30%;

    margin: 3% 0;

    border: 0.3rem solid black;
}

#games-sidebar {
    overflow-y: scroll;
    overflow-x: hidden;

    float: right;

    height: 85vh;
    width: inherit;

    margin-top: 1vh;
    margin-bottom: 1vh;

    padding: 0 2%;

    border: 0.3rem solid black;
}

.game {
    height: 17.5vh;
    margin: 5% 0;
    border: solid black 0.2rem;
    /* background-color: green; */
}

.game > .left {
    width: 60%;

    margin-left: 5%;
    margin-top: 1vh;
}

.game > .left > h1 {
    margin: 0.25em 0;
}

.game > .left > p {
    margin: 0.15em 0;
}

.game a {
    color: black;
    text-decoration: none;
}

.game > .right {
    width: 30%;
}

.game img {
    float: right;
    
    height: 90%;    
    width: auto;
    
    margin: 5%;
}

iframe {
    margin-bottom: 4px;
    margin: 0;
    width: 100%;
    height: auto;
}

#languages {
    float: right;

    height: 22vh;
    width: inherit;
    
    padding: 0 2%;

    margin: 3.5% 0 2% 0;

    border: 0.3rem solid black;
}

#languages > h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.language {
    /* float: left; */

    background-color: white;
    background-image: url(placeholder.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;

    width: 7.5vh;
    height: 7.5vh;
    margin: 0.5vh;
    margin-right: 0;

    border: 0;
    border-radius: 0.1em;
}

.language input[type="checkbox"] {
    float: left;
    position: relative;
    right: 1.05vw;
    top: 0.05vh
}

.language input[type="button"] {
    float: left;

    background-color: transparent;
    background-image: url(placeholder.png);
    
    background-repeat: no-repeat;
    background-size: 60%;

    background-position-x: center;
    background-position-y: center;
    
    cursor: pointer;

    width: 7.5vh;
    height: 7.5vh;
    margin: 0.5vh;
    margin-right: 0;

    border: 0;
    border-radius: 0.5em;
}

#c-sharp {
    background-image: url(assets/c-sharp-img.png);
    background-size: 70%;
}

#python {
    background-image: url(assets/python-img.png);
}

#rust {
    background-image: url(assets/rust-img.png);
    background-size: 70%;
    background-position-x: 40%;
}

#js {
    background-image: url(assets/js-img.png);
    background-size: 65%;
    background-position-x: 40%;
    background-position-y: 40%;
}

#ts {
    background-image: url(assets/ts-img.png);

    background-position-x: 47%;
    background-position-y: 46%;
}

#html {
    background-image: url(assets/html-img.png);
}

#css {
    background-image: url(assets/css-img.png);
    background-size: 40%;
}

#unity {
    background-image: url(assets/unity-img.png);

    background-position-x: 45%;
    background-position-y: 50%;
}

#blender {
    background-image: url(assets/blender-img.png);
    background-size: 75%;
    background-position-x: 40%;
}

#github {
    background-image: url(assets/github-img.png);
    background-position-x: 48%;
    background-position-y: 48%;
}

#notable-projects {
    border: 0.3rem solid black;
    padding: 1em;
}