#Header {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 40vh;  
}

#Header > header {
    font-size: xx-large;
    font-weight: bolder;
}

#Header > p {
    font-weight: bold;
}