.header {
    justify-content: start;
    align-items: center;

    height: 40vh;
}

.header img.profile {
    height: 20%;
    width: auto;
    
    margin: 18% 7.5% 15% 2.5%;
}

.bio {
    justify-content: space-around;
    align-items: start;
    text-align: center;

    width: 70%;
}

.bio > header {
    font-size: xx-large;
    font-weight: bolder;
    margin: 2% 0;
}

.bio > p {
    color: var(--header-color);
    
    font-weight: bold;
    font-size: medium;

    margin: 0;
}