/* Profile photo */
img.profile {
    aspect-ratio: 1;
    border-radius: 50%;
}


/* Link formatting */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 2pt;
}
  

/* Inline list of languages/technologies used */
.inline-list {
    padding: 0;
    margin: 0;
}

.inline-list > li:first-child {
    list-style: none;
    margin: 0;
}

.inline-list > li {
    margin-left: 1.8em;
}