body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.Section {
  width: 65vw;
  margin: auto;
  margin-bottom: 8vh;
}

.Section > header {
  font-size: larger;
  font-weight: bold;
  text-align: left;
  
  margin-left: 5%;
}

.Section > :not(header) {
  width: 80%;
  margin: auto;
}

.Section > p {
  text-align: justify;
}